RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !^/ProductController
RewriteRule ^ index.html [QSA,L]

RewriteRule ^ProductController index.php [QSA,L]